.car-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Creates columns that are at least 300px wide */
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

  .car-card {
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }

  .car-image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }

  .car-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .car-details {
    background-color: white;
    padding: 15px;
  }
